@font-face {
    font-family: "Questrial";
    src: url('./Questrial/Questrial-Regular.ttf');
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(90deg, hsla(339, 72%, 43%, 1) 0%, hsla(197, 77%, 48%, 1) 100%);
    font-family: "Questrial", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ui {
    margin: auto;
}

.message {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px #505050;
}

.message:hover {
    box-shadow: -10px 10px 10px #505050;
}

label {
    display: block;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 10px 0 10px 10px;
    border: 3px solid #FFFFFF;
    border-radius: 10px 10px 0 0;
    margin-bottom: -12.5px;
}

textarea {
    display: block;
    margin: 10px auto;
    /*background: #FF000000;*/
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    font-size: 1.25rem;
    color: hsla(197, 77%, 48%, 1);
    resize: vertical;
}

textarea:focus {
    outline-style: dotted;
    outline-width: medium;
}

button {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    cursor: pointer;
    background: #FF000000;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    padding-bottom: 7.5px;
    font-size: 2rem;
    color: #FFFFFF;
    font-family: "Questrial", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: -7.5px 7.5px 10px #505050;
}

button:active {
    margin-top: 30px;
    margin-right: 5px;
    box-shadow: -2.5px 2.5px 10px #505050;
}

/*button:hover {
    transform: translate(2.5px, -2.5px);
    box-shadow: -10px 10px 10px #505050;
}*/